<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>监控平台</title>
    <link href="$link.setRelative('css/base.css')" rel="stylesheet" type="text/css" />
    <link href="$link.setRelative('css/index.css')" rel="stylesheet" type="text/css" />
    <link href="$link.setRelative('css/login.css')" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="$link.setRelative('js/jquery1.9.1.min.js')" ></script>
    <script type="text/javascript" src="$link.setRelative('highcharts/js/highcharts.js')"></script>
    <script type="text/javascript" src="$link.setRelative('/js/jquery.metadata.js')"></script>
    <script type="text/javascript" src="$link.setRelative('/js/jquery.validate.min.js')"></script>
    <script type="text/javascript" src="$link.setRelative('/js/application.js')"></script>
    <link rel="stylesheet" href="#springUrl('/js/jquery-ui-1.8.16.css')"  type="text/css" media="all"/>
    <link rel="stylesheet" type="text/css" href="$link.setRelative('/styles/style.css')">
    <script type='text/javascript' src="#springUrl('/js/google-jsapi.js')"></script>
    <script type='text/javascript' src="#springUrl('/js/google-visualization-corechart.I.js')"></script>


</head>
<body>
   $screen_content
</body>
</html>