<body>
<div class="container">
    <div class="login-container">
        <div class="login-main">
            <h1></h1>
            <form id="login_form" action="$link.setRelative("/j_spring_security_check")" method="post">
                <input type="text" id="username" name="j_username"  placeholder="请输入用户名" class="loginName" />
                <input type="password" id="password" name="j_password" placeholder="请输入密码" class="loginPassword" />
                <input type="submit" name="login" value="登 录" id="loginBtn" />
            </form>
        </div>
    </div>

    <footer class="footer">
        Copyright © 2003-2014 Heagle, All Rights Reserved
    </footer>
</div>
</body>

<script type="text/javascript">
    $(function(){
        $(".login-container").height($(window).height() - 73);

        window.onresize = function() {
            $(".login-container").height($(window).height() - 73);
        };
    });

   $(document).ready(function() {
        $("#login_form").validate();
    })
</script>





